html, body {
  height: 100%;
  margin: 0;
}
#app{
  min-height:100%;
}
.footerClass{
  background-color: $verde;
  color:#fff;
  margin-top: 4px;
}
.a{
	width:100%!important;
}
.desc{
	font-size:1.2em;
	margin-top:10%;
}
.footerL{
	margin-top:10%;
	margin-left:40%;
	width:14vh;
}
.titleFooter{
	color:#b2ffe4;
	margin-top:15%!important;
}
.linkFooter a{
	font-size:1.3em;
	color:#fff;
}
.linkFooter:hover{
	color:#fff;
}
#logoIF{
	width:10vw;
	position:absolute;
	margin-left:7%;
}
.pt-4, .py-4 {
    padding-top: 0 !important;
}