.navClass{
  background-color: $verde;
  height:10vh;
}
.navbar-brand{
  color:white!important;
  font-family: 'Open Sans', sans-serif;
  font-size:4vh;
}
#navbarDropdown{
	color:white;
	font-family: 'Open Sans', sans-serif;
  font-size:2.1vh;
}
.nav-link{
	color:#000;
}
.nav-tabs .nav-link{
	border:0px;
}
#logoSite{
	width:10vh;
}
.navClassWelcome{
  background-color: #fff;
  height:10vh;
}
.navbar-brand-welcome{
  color:#37BF8F;
  font-size:4vh;
}
.navbar-brand-welcome:hover{
  color:#37BF8F;
  text-decoration:none;
}
.navbar-geral{
  color:#fff;
}
.navbar-geral:hover{
  color:#fff;
}
.linksNavbar > a{
    font-size:20px;
    color:#fff;
    font-family: 'Titillium Web', sans-serif;
    margin: 15px;
}
.linksNavbar > a:hover{
    color:#328064;
    text-decoration:none;
}