.navClass{
  background-color: $verde;
  height:10vh;
  border-bottom: 5px solid $verdeNav;
}
.navbar-brand{
  color:white!important;
  font-family: 'Open Sans', sans-serif;
  font-size:4vh;
}
#navbarDropdown{
	color:white;
	font-family: 'Open Sans', sans-serif;
  font-size:1.8vh;
}
.nav-link{
	color:#000;
}
.nav-tabs .nav-link{
	border:0px;
}
#logoSite{
	width:10vh;
}