.coment-btn{
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background-color: #37bf8f;
    margin-top: 3px;
    margin-left: -0.5%;
    color: white;
}

.status{
    border-radius: 4px;
}

.cmt{
    background-color: hsl(0, 1%, 95%);
}

.linkBtn{
	color:white;
	text-decoration:none;
	background-color: #37bf8f!important;
}
.linkBtn:hover{
	background-color: #299972!important;
}

.linkBtn:hover{
	color:white;
	text-decoration:none;
}
.selectClass{
	margin-top:20%;
}

#headingOne{
	background-color:#2675b5;
}
.btn-Req{
	color:#fff;
	text-decoration:none;
}
.btn-Req:hover{
	color:#fff;
	text-decoration:none;
}
#breadcrumb{
	background-color:#f8fafc;
	width:65em;
}
#breadcrumb > span{
	font-size:1.3em;
	font-family: 'Arial';
}
#breadcrumb > span > a{
	color:#000;
}
.titleReq{
	color:$verde;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	padding-top:0.3em;
	padding-bottom:0.5em;
	border-bottom: 2px solid $verde;
}
.subTitleReq{
	color:$verde;
	font-family: 'Open Sans', sans-serif;
	padding-top:1.5em;
	font-size:1.3em;
	font-weight:bold;
}
#tipo{
	width:50%;
}
.btnFilter{
	width:13em!important;
	background-color: #2bb7df!important;
	margin-left:50%!important;
	margin:3%;
}
.btnFilter:hover{
	background-color: #2196b8!important;
}
.linkFilter{
	color:#2bb7df;
	font-size:1.2em;
	padding-left:1.5em;
	font-family: 'Arial', sans-serif;
	margin:3%;
}
.btnNewReq{
	width:17em!important;
	height:3em;
	float:right;
	margin:0!important;
	font-size:0.45em;
	font-family: 'Arial', sans-serif;
	border-color:#37bf8f;
}
.btnNewReq:hover{
	border-color:#37bf8f;
}
.plus{
	width:1.8em;
	color:#fff;
	float:left;
}
.tableHead{
	border-top:2px solid $verde;
	background-color: #f0f0f0;
}
.btnDetalhes{
	width:14vh;
	background-color:#2bb7df;
	border-color:#2bb7df;
}
.btnDetalhes:hover{
	background-color:#269bbd;
	border-color:#269bbd;
}
.showreq{
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 4%;
}
.colReq > th{
	text-align:center;
}
.page-item.active .page-link{
	background-color:#2bb7df!important;
}
.msgSucesso{
	position:absolute;
}
.colData{
	width:10em;
}
.table th, .table td{
	text-align:center;
}
.msgReqVazio{
	font-size:1.2em;
}
.close{
	color:#fff;
}
.close:hover{
	color:#fff;
}