.msgInfo{
	color:red;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background-color:#e2f0fb;
	color:#385d7a;
}
.grupoSubT{
	background-color:#e2f0fb;
	border: 2px solid #e2f0fb;
    border-radius: 5px;
    padding:10px;
}
.mar{
	margin:0px!important;
}
.nav-Style{
	border:0px!important;
}
.alert{
    text-align:center;
}
.alert-danger{
	margin-top:20px;
}
#criarReq{
	width: 400px;
	background-color:#3490dc;
}
#cont{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:80vh;
}
#sucessoReq{
	width: 400px;
	background-color:#30ff7c;
}
.reqTxt{
	color:#fff!important;
}
.infoP{
	font-size:20px;
	color:#004585;
	text-align:center;
	margin-top:30px;
}
#desc{
	margin-top:0px!important;
}