.msgInfo{
	color:red;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background-color:#e2f0fb;
	color:#385d7a;
}
.grupoSubT{
	background-color:#e2f0fb;
	border: 2px solid #e2f0fb;
    border-radius: 5px;
    padding:10px;
}
.mar{
	margin:0px!important;
}
.nav-Style{
	border:0px!important;
}
.alert{
    text-align:center;
}
.alert-danger{
	margin-top:20px;
}
.btn-cr{
    border: 90px;
    padding: unset;
    background: white;
    display: block;
}

#criarReq{
	width: 400px;
	background-color:#3490dc;
	margin:3%;
}
#cont{
	display:flex;
	justify-content:center;
	align-items:center;
}
#sucessoReq{
	width: 400px;
	background-color:#30ff7c;
}
.reqTxt{
	color:#fff!important;
}
.infoP{
	font-size:20px;
	color:#004585;
	margin-top:30px;
}
#desc{
	margin-top:0px!important;
}
#descricao:focus{
-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
}
