.msgInfo{
	color:red;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background-color:#e2f0fb;
	color:#385d7a;
}
.grupoSubT{
	background-color:#e2f0fb;
	border: 2px solid #e2f0fb;
    border-radius: 5px;
    padding:10px;
}
.mar{
	margin:0px!important;
}
.nav-Style{
	border:0px!important;
}
.alert{
    text-align:center;
}
.alert-danger{
	margin-top:20px;
}