.linkBtn{
	color:white;
	text-decoration:none;
}
.linkBtn:hover{
	color:white;
	text-decoration:none;
}
.selectClass{
	margin-top:20%;
}

#headingOne{
	background-color:#2675b5;
}
.btn-Req{
	color:#fff;
	text-decoration:none;
}
.btn-Req:hover{
	color:#fff;
	text-decoration:none;
}