 .container{

    #myTabContent{
        .sub{
            margin-top: 1%;
        }
 
    }

    a{
        color: #000;
    }
    #desc{
        margin-top: 5%;
    }

    .btn-req{
        margin-bottom: 10%;
    }
    .abas{
        color:#000;
    }
}